#ortho-content {
	width: 70%;
}
#ortho-sidebar {
	display: inline;
	width: 24%;
}
div.post-body h2 a, div.post-body h2 a span, #ortho-sidebar *, #ortho-footer *,
#ortho-content .post .post-body .post-meta, #ortho-content .post .post-body .post-meta a {
	font-family: 'Lucida Grande' 'Trebuchet MS' 'Verdana' sans-serif;
}
#ortho-sidebar * {
	font-size: 10px;
	width: 24%;
}
ul#ortho-sidebar {
	list-style-type: none;
}
ul#ortho-sidebar li ul li {
	list-style-type: square;
}

ul#ortho-sidebar>li {
	margin-top: 2em;	
}
ul#ortho-sidebar li {
	width: auto;
}
div.navigation div.alignleft,
div.navigation a div.alignleft,
img.alignleft {
	float: left;
}
div.navigation div.alignright,
div.navigation a div.alignright,
img.alignright {
	float: right;
}
img.alignleft, img.alignright,
div.navigation a div.alignleft,
div.navigation a div.alignright,
div.navigation div.alignleft,
div.navigation div.alignright {
	display: inline;
}
div.post-body h2 a span {
	display: inline;
	float: right;
	font-size: 0.6em;
	position: relative;
	top: 10px;
}
ul.menu li.page_item ul {
	/* to hide sub-items in the menu */
	display: none;
}
ul.menu li.page_item:hover>ul, .menu li.page_item>ul:hover {
	/* to hide sub-items in the menu */
	display: none;
}
